#navbar {
    display: flex;
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEEEEE;
	}
	.logo img{float:left;}

ul#navbar li {
    float:right
}

ul#navbar li a {
    display: block;
    color: #000000;
    font-weight:bold;
    padding: 8px 16px;
    text-decoration: none;
}


ul#navbar li a:hover {
    background-color: orange;
        color: white;
}
h2 {
	text-align: center;
	color: red;
}
